<html>
    <body>
        <h1>Details User N° : <%= user.id %></h1>
        <p>ID : <%= user.id %></p>
        <p>Nom : <%= user.nom %></p>
        <p>Prenom : <%= user.prenom %></p>
        <p>Age : <%= user.age %></p>
    </body>
</html>